body, .navbar--container {
    margin: 0;
} 

.navbar--container {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar--links {
    display: flex;
    gap: 1em;
}